<?xml version="1.0" encoding="utf-8"?>
<Wix
    xmlns="http://wixtoolset.org/schemas/v4/wxs"
    xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx"
    xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
    xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Package
      Name="Shadow KVM"
      Manufacturer="Matúš Horváth"
      Version="$(MajorMinorPatch)"
      Language="1033"
      UpgradeCode="c650e88c-395f-4e1a-9afc-e8d98821c26f">

    <!-- Create a standalone .msi that does not require a separate .cab -->
    <MediaTemplate EmbedCab="yes" />

    <Icon Id="Icon" SourceFile="..\ShadowKVM\UserInterface\Application.ico" />
    <Property Id="ARPPRODUCTICON" Value="Icon" />

    <!-- Check for Windows 8 or newer -->
    <Launch
        Condition="Installed OR (VersionNT >= 602)"
        Message="This application requires Windows 8 or newer." />

    <!-- Always replace installed package when updating -->
    <MajorUpgrade
       AllowSameVersionUpgrades="yes"
       DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!-- Send WM_CLOSE to ShadowKVM.exe if it is running, to allow replacing the file -->
    <util:CloseApplication Id="CloseShadowKVM" Target="ShadowKVM.exe" CloseMessage="yes" RebootPrompt="no" />

    <!-- Schedule closing of ShadowKVM.exe before MSI checks whether the files are in use -->
    <InstallExecuteSequence>
      <Custom Action="override Wix4CloseApplications_X86" Before="InstallValidate" />
    </InstallExecuteSequence>

    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
    </StandardDirectory>

    <ComponentGroup Id="ApplicationComponent">
      <File Id="EXECUTABLE" Source="ShadowKVM.exe" />
      <File Source="ShadowKVM.runtimeconfig.json" />

      <!-- The System.Management.dll in output directory is just a stub, use the real one -->
      <File Source="runtimes\win\lib\net9.0\System.Management.dll" />

      <Files Include="!(bindpath.ShadowKVM)\*.dll">
        <Exclude Files="!(bindpath.ShadowKVM)\System.Management.dll" />
      </Files>

      <File Source="APACHE-LICENSE-2.0.txt" />
      <File Source="..\LICENSE.txt" />
      <File Source="..\README.md" />
      <File Source="NOTICE.md" />
    </ComponentGroup>

    <StandardDirectory Id="StartMenuFolder">
      <Component Id="StartMenuComponent">
        <Shortcut
            Id="StartMenuShortcut" 
            Name="!(bind.Property.ProductName)"
            Description="Shadow KVM"
            Target="[INSTALLFOLDER]ShadowKVM.exe"
            WorkingDirectory="INSTALLFOLDER" />

        <!-- This key should match the key used in the application -->
        <RegistryValue
            Root="HKCU"
            Key="Software\!(bind.Property.Manufacturer)\!(bind.Property.ProductName)"
            Name="Installed"
            Type="integer"
            Value="1"
            KeyPath="yes" />
      </Component>
    </StandardDirectory>

    <!-- MIT license text to be displayed by the installer -->
    <WixVariable Id="WixUILicenseRtf" Value="LICENSE.rtf" />

    <!-- Display a Launch checbox on the last screen of the installer -->
    <SetProperty
        Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
        Value="Launch [ProductName]."
        After="FindRelatedProducts"
        Sequence="ui" />

    <!-- Launch checkbox is checked by default -->
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX" Value="1" />

    <UI>
      <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

      <!-- Launch the application after clicking Finish, if the Launch checbox was checked -->
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication"
          Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed" />
    </UI>

    <!-- Custom action to launch the application from the installer -->
    <Property Id="WixShellExecTarget" Value="[#EXECUTABLE]" />
    <CustomAction
        Id="LaunchApplication"
        BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)"
        DllEntry="WixShellExec"
        Impersonate="yes" />

  </Package>
</Wix>
